// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #81A1C1;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #2E3440 !important;
  --dark: #81A1C1 !important;
  --secondary: #A3BE8C !important;
  --visited: #EBCB8B !important;
  --tertiary: #81A1C1 !important;
  --primary: #E5E9F0 !important;
  --gray: #C8D0E0 !important;
  --lightgray: #4B5668 !important;
  --outlinegray: #4B5668 !important;
  --highlighted: #b46950;
}



