// Add your own CSS here!

:root {
  --light: #ffffff;
  --dark: #4B5668;
  --secondary: #81A1C1;
  --tertiary: #B48EAD;
  --visited: #EBCB8B;
  --primary: #6C7A96;
  --gray: #4B5668;
  --lightgray: #E5E9F0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #2E3440 !important;
  --dark: #668aab !important;
  --secondary: #81A1C1 !important;
  --visited: #EBCB8B !important;
  --tertiary: #A3BE8C !important;
  --primary: #C8D0E0 !important;
  --gray: #E5E9F0 !important;
  --lightgray: #4B5668 !important;
  --outlinegray: #6C7A96 !important;
  --highlighted: #b46950;
}



